doctype html 
html 
    head 
        title khalid nadish
    body    
        h1 #{insertId}   ID
        
        h1=phoneId
        //- ul
        //-     each phone , i in  data
        //-         li #{phone.id}/ #{phone.phone}
        //-         //- li= phone.phone
